<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-video-compressor" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

  <name>VideoCompressor</name>
  <description>Cordova plugin to compress videos on Android and iOS</description>
  <license>MIT</license>
  <keywords>cordova,video,compressor</keywords>
  <engines>
    <engine name="cordova" version=">=9.0.0"/>
  </engines>

  <js-module src="www/VideoCompressor.js" name="VideoCompressor">
    <clobbers target="VideoCompressor"/>
  </js-module>

  <!-- Android -->
  <platform name="android">
    <source-file src="src/android/VideoCompressor.java" target-dir="src/com/example/videocompressor" />
  </platform>

  <!-- iOS -->
  <platform name="ios">
    <source-file src="src/ios/VideoCompressor.swift" />
  </platform>

</plugin>
